<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='one_user.css')}}"
    />
    <title>Read(one)</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>User</h1>
        <a href="/">Home</a>
      </div>
      <div class="info">
        <h4>Full Name: {{user.first_name}} {{user.last_name}}</h4>
        <h4>Email:{{user.email}}</h4>
        <h4>Created On:{{user.created_at}}</h4>
        <h4>Last Updated On:{{user.updated_at}}</h4>
      </div>
      <div class="links">
        <a href="/users/{{user.id}}/update_page">Edit</a>
        <form action="/users/{{ user.id }}/delete" method="POST">
          <input type="submit" value="Delete" />
        </form>
        <!-- <a href="/users/{{user.id}}/delete">Delete</a> -->
      </div>
    </div>
  </body>
</html>
